html {
    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }

  body {
    margin: 0;
  }

  footer {
    background-color: burlywood;
    padding: 24px;  /* Just this new line */
  }

  header {
    padding: 24px;
  }

  .book-cover {
    width: auto;
    height: auto;
    border: 5px solid red;
    grid-row-start:0;
    grid-row-end: span 5;
    
    
  }

  .main-page-book-review {
    background-color: white;
    border: 10px solid blue;
    padding: 24px;
  
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px
  }

  main {
    max-width: 800px;
    margin: auto;
  }

  .book-rating {
    font-size: 125%;
    border: 5px solid red;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    
    
  }

  .book-authors {
    color: dimgray;
    border: 5px solid red;
    background-color: white;
    display: grid;
    grid-template-columns: auto 1fr ;
    align-items: center
  }

  .detail-page-book-review {
    background-color: white;
    padding: 24px;
  }

  .book-review-form {
    background-color: white;
    padding: 24px;
  }

  button {
    padding: 12px;
    font-size: 110%;
  }
  
  input {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
  }
  
  textarea {
    border: 1px solid darkgray;
    border-radius: 4px;
    padding: 12px;
    height: 100px;
  }

  header {
    padding: 24px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center
  }

  footer {
    padding: 24px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    align-items: center;
  }
  .body-paragraph{
    border: 5px solid red;
}

h3{
    border: 5px solid red;
}

h2{
    border: 5px solid red;
}

.border{
    border: 5px solid red;
}
